*{
    margin: 0;
    padding: 0;
   }
   
   h1 h2 h3 h4 h5 h6{
       font-family: 'Rubik', sans-serif;
   }  
   
   p a span strong {
       font-family: 'Roboto', sans-serif;
   }
   
   .main-menu-bar{
       background-color: white;
       position: relative;
     
   }
   .main-menu-bar:hover{
       background: rgb(204, 202, 202);
   }
   
   .logo-image {
       height: 55PX;
       width: 100pX;
   }

   
   
   .menu-item{;}
   .menu-item li{}
   .menu-item li a{
       display: inline-block;
       padding: 10px 20px;
       font-size: 20px;
       text-decoration: none;
       color: #111;
       position: relative;
   }
   

   .menu-item li a:hover::after{
       color: blue;
       content: "";
       top: 0;
       left: 0;
       border-top: 2px solid rgb(0, 89, 255);
       width: 50%;
       height: auto;
       margin-top: 50px;
       margin-left: 20px;
       position: absolute;
       
   }
   
   .memu-button-item {
       border: 1px solid #fff;
       margin-left: 20px;
       height: 53px;
       width: 152px;
       border-radius: 25px;
       font-size: 23px;
   }
   
   
   .shr{
       background-color: #F6F9FC;
       height: 698px;
   }
   
   
   
   
   .main-slaider-section{
       background-color: #F6F9FC;
   }
   
   
   .slider-item {
       margin-top: 180px;
       margin-left: 132px;
   }
   .slider-item h1{
       font-size: 55px;
       margin-top: 25px;
       margin-bottom: 20px;
   }
   .slider-item p{
       font-size: 18px;
       font-weight: 300;
       line-height: 1.5rem;
   }
   
   .slider-button{
       margin-top: 20px;
   }
   
   .slider-image{
       height: 700px;
       width: 700px;
       clip-path: circle(60% at 74% 39%);
       position: absolute;
       margin-top: 0px;
       z-index: 1;
   }
                                
                                /* core features start  */ 
                .core-features {
                font-size: 45px;
                font-weight: 600;
                line-height: 2rem;
                text-transform: capitalize;
                margin-bottom: 15px;
                position: relative;
            }
            
            .caption-about{
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .caption-about h6 {
                font-size: 23px;
                font-weight: 400;
                color: #546EFD;
                text-transform: uppercase;
            }
            .caption-about h1 {
                font-size: 45px;
                font-weight: 600;
                line-height: 4rem;
                text-transform: capitalize;
                margin-bottom: 30px;
            
            
                position: relative;
                
            }
            
            .caption-about h1::after{
                content: "";
                top: 0;
                left: 0;
                margin-top: 140px;
                width: 20%;
                height: auto;
                border: 2px solid rgb(0, 68, 255);
                position: absolute;
            }
            
            .caption-about p{
                color: #606060;
                font-size: 17px;
                font-weight: 400;
                margin-top: 20px;
            }
            
   
                        /* core features end */ 
   
   
                        
                        /* card section start */ 
   .img-dev-bar img{
       position: absolute;
       top: 243%;
       left:50px;
       z-index: -1;
   }
   
   
   .body-card-ppp{
       padding: 40px 15px;
   }

   .main-card-section{
       margin-bottom: 50px;
       padding: 40px 0px;
   }
   
   .card-around {
       border-radius: 5px;
       background-color: #f6f9fcec;
   }
   
   
   .card-around h5 {
       font-size: 20px;
       font-weight: 600;
       margin-top: 20px;
   }
   .card-around span {
       display: block;
       background: #032ce0;
       padding: 17px;
       width: 64px;
       color: rgb(233, 236, 243);
       font-size: 23px;
       border-radius: 44px 43px 38px 7px;
       margin-top: 20px;
       margin-bottom: 30px;
       position: relative;
   }
   
   
   .card-around span::after{
       content: "";
       top: 0;
       left: 0;
       margin-top: 80px;
       width: 50%;
       height: 2px;
       background-color: rgb(50, 8, 240);
       position: absolute;
   }
   
   .card-around h6{
       /* color: #606060; */
       font-weight: 200;
       font-size: 17px;
   }
   
   .body-card-ppp:hover{
         background-color: rgb(19, 68, 230);
         color: #fff;
         transition: 0.6s;
   }
   
   .card-body:hover .icon-hover {
       background-color: rgb(230, 230, 236);
       color: #1349eb;
       transition: 0.6s;
   }
   
   .card-around:hover span::after{
       background-color: #fff !important; 
   }
   
                        /* footer section start  */
   
                        .footer-img{
                            background: url(https://i.ibb.co/pndvTKf/video-bg.jpg) no-repeat center center;
                            background-size: cover;
                         padding: 400px 0px;
                        
                        
                            position: relative;
                            z-index: 1;
                            
                            
                        }
                        
                        .footer-img::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(24, 36, 49, .8);
                            z-index: -1;
                        }
                        
                       
                        .footer-content-item{
                            margin-top: -300px;
                            margin-left: 450px;
                            
                        } 
                        
                        .footer-content-item h6{
                            font-size: 18px;
                            font-weight: 400;
                            color: #fffdfd;
                            margin-left: 90px;
                          
                        }
                        
                        
                        .footer-content-item h1{
                            font-size: 41px;
                            font-weight: 500;
                            color: #fffdfd;
                            margin-left: 40px;
                      
                        }
                        
                        .footer-content-item p{
                        font-size: 18px;
                        font-weight: 400;
                        word-spacing: 3px;
                        color: #fffdfd;
                        padding-bottom: 50px;
                      
                        }
                        
                        

                        
                        .shriar{
                            width: 90px;
                            height: 90px;
                            display: inline-block;
                            /* background: rgb(238, 236, 236); */
                            font-size: 60px;
                            text-align: center;
                            line-height: 90px;
                            color: #fdfdf9;
                            border-radius: 50%;
                            position: relative;
                            left: 20%;
                            top: 15%;
                            margin: auto;
                            /* right: 70%; */
                            /* bottom: -136px; */
                        }
                        
                        
                        .shriar::after{
                            content: "";
                            width: 90px;
                            height: 90px;
                            position: absolute;
                            top: 0;
                            left: 0;
                      
                            border: 1px solid #fff;
                            border-radius: 50%;
                            animation: palybtn 1.6s ease-out infinite;
                        }
                        
                        
                        .shriar::before{
                            content: "";
                            width: 90px;
                            height: 90px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #32547a;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            animation: palybtn2 1.6s ease-out infinite;
                        }
                        
                        
                        
                            @keyframes palybtn
                            0%{
                                transform: scale(1);
                                opacity: 1;
                            }
                            
                            49%{
                                transform: scale(1.5);
                                opacity: 1;
                            }
                        
                            50%{
                                transform: scale(1);
                                opacity: 1;
                            }
                            100%{
                                transform: scale(1.8);
                                opacity: 0;
                            }
                                                
                        
                        
                        @keyframes palybtn2{
                            0%{
                                transform: scale(1);
                                opacity: 1;
                            }
                            
                            49%{
                                transform: scale(1.3);
                                opacity: 0;
                            }
                        
                            50%{
                                transform: scale(1);
                                opacity: 1;
                            }
                            100%{
                                transform: scale(1.6);
                                opacity: 0;
                            }
                            
                        
   
   
   
   
   
   
   
   
   